// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.tutorial-page {

  .toolbar-background {

    background: #fff;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 0 !important;
    height: 73px;
    font-size: 13px !important;
    text-align: initial;
    padding: 15px;
  }

  .slide-image {
    max-height: 50%;
    max-width: 55%;
    margin: 9px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 20px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }


  .scroll-content{
    padding: 10px !important;
  }
  .tutorial-buttons{
    position: absolute;
    width: 180px;
    right: -19px;
    top: 30px;
    .toolbar-background {
      background: transparent !important;
      border-color: transparent;
    }
    .icon-md{

    }

  }
  .swiper-wrapper, .swiper-slide{
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

  }
}

.toolbar-background-md {
    border-color: #eecffb;
    background: url(/assets/img/fondo.svg) no-repeat center top;
    color: white;
}

.toolbar-title-md, .bar-button-default-md{
  color: white;
}

.swiper-pagination-bullet-active{
  background: #2fc9dc;
}

.app-subtitle .toolbar-title-md{
  font-family: 'Comfortaa', cursive;
  font-size: 14px !important;
}

.item-md{

}

.app-title{
  background: url(/assets/img/fondo.svg) no-repeat center top;
  height: 35px !important;
  font-family: 'Comfortaa', cursive;
  font-size: 25px !important;
  text-align: center;
  color: white;
  font-weight: bold;
}

.card-list{
  padding-top: 35px;
  .item-md.item-block .item-inner{
    border: none !important;
  }

  .label-md{
    margin-bottom: 0;
    margin-top: 0;
  }

  .card-md{
    margin-bottom: 2px;
  }

  .button-clear-md{
    color: #2fc9dc;
  }

}

.list-icon{
    padding: 0 15px !important;
}

.success{
  color: #23bf88;

}

.warning{
  color: #ff9a3e;
}

.danger{
  color: #ef0000;
}

.scroll-content{
  background: rgba(87, 33, 121, 0.07);

}

.common-list{
  ion-label{
    word-wrap: break-word !important;
    white-space: normal !important;
    display: inline-flex;

  }

  .input-wrapper{
    overflow: auto;
  }
  .item-md{
    margin-right: 5px;
    font-size: 13px;
    line-height: 20px;
    padding-left: 0px;
    width: 100% !important;
    background: transparent !important;
    color: #423b3b;

  }
  .item-inner, .label-md{
    padding-right: 0px !important;
  }



  ion-icon{
    font-size: 18px;
  }

  .item-inner{

    background: transparent !important;
    .item-inner{
      border: none !important;
    }


  }

  button.item.item-block.item-md{

    background: white !important;


    .item-inner{
      padding-right: 7px;
      border-bottom: 1px solid #e8e7e7;
      padding-left: 6px;
    }
  }
  button.item.item-block.item-md.success{ border-left: 5px solid #3acca7;}
  .list-md .item-block .item-inner{

  }

  .label-md{
    margin: 0 !important;
  }

}
.right{
  position: absolute;
  right: 7px;
}

.starts{
  height: 119px;
  background: lightskyblue;
  padding: 19px;
  font-size: 24px;
  color: #4c51a7;

  h5{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 7px;
    color: #4c51a7;
  }
}
page-show-institucion{
  .scroll-content{

    padding: 0px !important;
  }
}

ppy-canva{
  ion-card{
        margin: 0px !important;
        width: 100% !important;
  }
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.acordeon_list{
  [col-1]{
    flex: 0 0 25px;
  }
  .item-md{
    padding-left: 0px !important;
  }


}

.show-info{
  ion-card-content{
    padding: 0 !important;

  }
  ion-label{
    margin: 0 !important;
    font-size: 13px;
    height: 100%;
    border-top: 1px solid #dcdcdc;
  }
  ion-list{
    border-bottom: 1px solid #dcdcdc;
  }
  .item-inner{
    padding-right: 0px !important;
  }

  .item-accordion{
    ion-label{
      padding-left: 14px !important;
      padding-right: 14px !important;
      word-wrap: break-word !important;
      white-space: normal !important;
      display: inline-flex;
    }
  }

}


.color-1{
  color: #3acca7;
  text-transform: uppercase;
  font-size: 12px;
  border-left: 5px solid ;
  font-weight: bold;

}

.div-1{
  .button-clear-md-secondary {
    color: #3acca7;
  }
}

.div-2{
  .button-clear-md-secondary {
    color: #04cce2;
  }
}

.div-3{
  .button-clear-md-secondary {
    color: #da81ca;
  }
}

.div-3{
      .button-clear-md-secondary {

        color: #AD1457;

      }
    }



.div-4{.button-clear-md-secondary {color: #6A1B9A;}}
.div-5{.button-clear-md-secondary {color: #EF6C00;}}
.div-6{.button-clear-md-secondary {color: #AA00FF;}}
.color-2{
  color: #04cce2;
  text-transform: uppercase;
  font-size: 12px;
  border-left: 5px solid;
  font-weight: bold;
}

.color-3{
  color: #AD1457;
  text-transform: uppercase;
  font-size: 12px;
  border-left: 5px solid;
  font-weight: bold;
  ion-col{
    color: #ad1457;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
  }
}
.color-4{
  color: #6A1B9A;
  text-transform: uppercase;
  font-size: 12px;
  border-left: 5px solid;
  font-weight: bold;

}

.color-5{
  color: #EF6C00;
  text-transform: uppercase;
  font-size: 12px;
  border-left: 5px solid;
  font-weight: bold;
}

.color-6{
  color: #AA00FF;
  text-transform: uppercase;
  font-size: 12px;
  border-left: 5px solid;
  font-weight: bold;
}



ion-label{

  color:  #423b3b;
}
