// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.tutorial-page {

  .toolbar-background {

    background: #fff;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 0 !important;
    height: 73px;
    font-size: 13px !important;
    text-align: initial;
    padding: 15px;
  }

  .slide-image {
    max-height: 50%;
    max-width: 55%;
    margin: 9px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 20px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }


  .scroll-content{
    padding: 10px !important;
  }
  .tutorial-buttons{
    position: absolute;
    width: 180px;
    right: -19px;
    top: 30px;
    .toolbar-background {
      background: transparent !important;
      border-color: transparent;
    }
    .icon-md{

    }

  }
  .swiper-wrapper, .swiper-slide{
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

  }
}
.analizer{
  top: 105px !important;
}
ion-searchbar{
  background: transparent !important;
  height: 52px !important;
  .searchbar-input{
    box-shadow: none !important;
    background-color: rgba(140, 114, 197, 0.28) !important;
    font-size: 13px !important;
    line-height: 2rem;
  }
  .searchbar-search-icon{
    color: white !important;
  }
}
.selec-header{
  background: transparent no-repeat center top !important;
  margin: 0 !important;
  padding: 0 !important;
  width: calc(100% - 70px) !important;

  .item-md{
    background: transparent !important;
    color: ghostwhite !important;
    }
  .label-md{
    color: #fbfbfb !important;
    font-size: 13px;
  }
  .select-text{
    font-size: 13px !important;
    color: #d9a7fd;
  }
  .select-md .select-icon .select-icon-inner{
    color: #d9a7fd;

  }
  ion-select{
    max-width: 63% !important;
  }
}

.alert-wrapper{
  .alert-title{
    font-size: 13px !important;
    text-transform: uppercase !important;
    color: #422828 !important;
  }
  .alert-checkbox-label{
    font-size: 13px !important;
    color: #422828 !important;
  }

}
.alert-md .alert-button{
  font-size: 13px !important;
  color: #2aa8c7;
}
.common-list{
  ion-avatar{
        color: #848080;
  }
  ion-grid, ion-col{
    padding: 0 !important;
    margin: auto;
    background: rgba(234, 234, 234, 0.8);
  }
  .item-md{
    background: ghostwhite;
  }
  .item-md h2 {
    margin: 2px 0;
    font-size: 1.4rem;
    font-weight: normal;
  }
  button.item-md{
    padding-left: 0 !important;
    background: ghostwhite !important;
    .item-inner{
      padding: 0 !important;
      .label-md{
        margin: 0 !important;
        min-height: 63px !important;
        word-wrap: break-word !important;
        white-space: normal !important;
        display: inline-flex;
        font-size: 14px;
        color: #422828 !important;
        padding: 5px 4px 5px 0px;
        line-height: 24px;
        background: ghostwhite;
        p{
          font-size: 11px !important;
        }
        h3{
          padding: 9px 0;
        }
        ion-badge{
          border-radius: 25px !important;
          ion-icon{
            padding-right: 3px;
          }
        }
        .item-inner{
          border: none !important;
        }
      }
    }
  }
  .right{
    position: absolute !important;
    right: 7px !important;
    top: 8px !important;
  }
}
.bar-button-default-md{
  color: ghostwhite;
}
.card-background-page {
  .grid{
    height: calc(100% - 50px) !important;
  }
  .expand{

    height: 100% !important;
    max-height: 600px;
    margin: auto 0;
  }
  .card-content{

    min-height: 120px !important;
  }
  ion-card {
    padding-top: 15px;
    position: relative;
    text-align: center;
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
  }

  .icon-w {
      color: ghostwhite;
      font-size: 8vw;
      height: 30%;
      width: 100%;
  }

  .card-title {
    font-family: 'Comfortaa', cursive;
    font-size: 1.8em;
    width: 100%;
    font-weight: bold;
    color: ghostwhite;
  }

  .card-subtitle {
    font-size: 1.0em;
    width: 100%;
    color: ghostwhite;
  }

}

.tab-show{
  height: 46px !important;
  ion-segment-button{
    border: none !important;
    color: ghostwhite !important;
    font-size: 10px !important;
    ion-icon, i.fa{
      font-size: 18px !important;
    }

  }
}
.segment-md .segment-button.segment-activated{
  border-bottom: 3px solid #9b33b1 !important;
}
#subnavbar{
  height: 52px !important;

}
.toolbar-background-md , .toolbar-title-md{
    font-weight: bold;
    border-color: #eecffb;
    background: transparent no-repeat center top;
    color: white !important;
    font-family: 'Comfortaa', cursive;
    font-size: 12px;

}
.app-subtitle{
  .toolbar-title-md{
    font-family: 'Muli', sans-serif;
    color: #eff6ff !important;
    text-transform: uppercase;
    display: inline-flex;
    padding-right: 0;
    ion-icon{
      color: white;
    }
  }
}
.principal-grid{
  background: rgba(234, 234, 234, 0.8);
  padding: 0 !important;
  height: 100%;
  .principal-col{
    padding: 0 !important;
    margin: auto;
    height: 100%;
    background: ghostwhite;
  }
  ion-row{
    height: 100%;

  }
}
page-show-institucion{
    .scroll-content{
      padding: 0 !important;

    }
    .show-info{
      .grid{
        margin: 0 !important;
        padding: 0 !important;
        .item-md{
          padding-left: 5px !important;
          background: ghostwhite;
          ion-label{
            font-size: 13px !important;
            color: #422828 !important;
            word-wrap: break-word !important;
            white-space: normal !important;
            display: inline-flex;
          }
        }
      }
      ion-avatar{
        margin: auto !important;
        text-align: center;
        background: #4fc2e8;
        color: white;
        border-radius: 25px;
        padding-top: 9px;
      }
      #send-comment{
        background: #0086b3;
        height: 29px !important;
        position: absolute;
        right: 3px;
        margin-right: 11px;
        .button-inner{
          font-size: 12px;
          text-transform: none;
        }
        ion-icon{
          padding-right: 3px !important;
          color: ghostwhite !important;

        }
      }
    }
}

textarea{
  font-size: 13px !important;
  color: #422828 !important;
}



.starts{

  background: #FCEED6;
  padding: 19px;
  font-size: 24px;
  color: #F28500;
  i.fa{
    color: #a7a7a9 !important;
  }
  i.fa.check{
    color: #F28500 !important;
  }
  h5{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 7px;
    color: #F28500;
  }
  .calificacion{
    font-size: 13px !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    color: #525256;
  }

  .cal-number{
    height: 75px;
    width: 75px;
    border: 2px solid #fff4e0;
    border-radius: 50px;
    margin: auto;
    text-align: center;
    padding: 18px;
    background: rgba(242, 133, 0, 0.24);
  }
  ion-col{
    margin: auto;
  }
  button{

    /* margin-bottom: 41px; */
    text-transform: capitalize;
    height: 29px;
    span{
      font-size: 12px;
    }
    ion-icon{
          padding-right: 3px;
    }

  }
  #send-rating{
    background: #0097A7 !important;
    color: ghostwhite !important;

  }
  #send-button > span >ion-icon{
    padding-right: 3px !important;
    color: ghostwhite !important;
  }
}

.rating-select{
  width: 100%;
  max-width: 100%;
  background: rgba(249, 249, 249, 0.92);
  padding-right: 18px;
  font-size: 12px;
  padding: 9px 13px 5px 11px;
  color: #2e3031;
  border-radius: 4px;

}

#col-rating{
  background: transparent !important;
  .item-inner{
    border: none !important;
  }
}
.title-page{
  margin: 0 !important;
  padding: 9px 13px !important;
  font-size: 13px !important;
  text-transform: uppercase;
  color: #1d6fad !important;
  font-weight: bold;
  button{
    height: 17px;
    margin-top: -5px;
    color: #1d6fad !important;
  }

}
.right{
  top: 0px !important;
  position: absolute !important;
  right: 0px !important;

}
.app-title{

  height: 40px !important;
  .toolbar-title-md{
    color: #CDB1F5 !important;
    font-size: 16px !important;
    text-align: center;
    font-weight: bold !important;
    height: auto;
  }

}

ion-header{
  background-color: #5E1A75 !important;
  height: 137px !important;
}
.tabs-md .tab-button[aria-selected=true] .tab-button-icon,.tabs-md .tab-button[aria-selected=true] {
    color: #7B72E9;
  }
.scroll-content{
  background: rgba(239, 241, 255, 0.42) !important;
}

.bac-c1{
  background: #27b0b3 !important;
}

.bac-c2{
  background: #0a2f6b !important;
}

.bac-c3{
  background: #00adda !important;
}

.bac-c4{
  background: #c37fdc !important;
}

.bac-c5{
  background: #b90f99 !important;
}
.icon-w{
  color: ghostwhite;
}

.app-title{
  background-color: #41254a !important;
  border-bottom: 1px solid #482358;;
}

.item-grouper {
  .item-inner{
    border: none !important;
  }
  border-bottom: 2px solid #c3c9ce;
  ion-label{
    color: #1d6fad !important;
    font-size: 12px !important;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.toolbar-md {
    /* padding: 4px; */
    min-height: 36px !important;
}

i.fa{
      font-size: 22px;
}

.label_c1{
  background: transparent !important;
  color: #078A76;
  padding-left: 0px !important;
  i.fa{
    padding-right: 5px;
    font-size: 13px !important;
  }

}

.label_c2{
  background: transparent !important;
  color: #F28500;
  padding-left: 0px !important;
  i.fa{
    padding-right: 5px;
    font-size: 13px !important;
  }


}


.item-accordion{
  ion-label{
    line-height: 19px;
    text-align: justify;
  }
}


.comment-list{
  .item-inner{
      padding-left: 15px !important;
      h2{
        font-size: 14px;
      }
      p{
        font-size: 12px;
      }
      ion-note{
        position: absolute;
        top: 0;
        right: 7px;
      }
  }
  ion-avatar{
    background: #d2d2d2 !important;

  }

}

.comment-form{
    min-height: 95px;
    background: rgba(239, 239, 239, 0.55);
    margin-top: 9px;
    padding-bottom: 43px;
    .item-md{
      background: transparent !important;
    }
}

ion-footer{
  .toolbar-background-md, .toolbar-title-md{
    color: #5e1a75  !important;
    text-align: center;
  }
}
