// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.tutorial-page {

  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 0 !important;
  }

  .slide-image {
    max-height: 50%;
    max-width: 75%;
    margin: 9px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 20px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

}

.toolbar-background-md {
    border-color: #eecffb;
    background: #6d1094;
    color: white;
}

.toolbar-title-md, .bar-button-default-md{
  color: white;
}

.swiper-pagination-bullet-active{
  background: #28bf90;
}

.app-subtitle .toolbar-title-md{
  font-family: 'Comfortaa', cursive;
  font-size: 14px !important;
}

.app-title .toolbar-title-md{
  font-family: 'Comfortaa', cursive;
  font-size: 25px !important;
  text-align: center;
  color: white;
  font-weight: bold;
}
