<div class="ppy-footer">
  <ion-grid>
    <ion-row>
      <ion-col col-sm-12 col-md-12  col-12  col-lg-8 col-xl-8>
        <div class="links-footer">
          <button  clear (click)="openLink('https://www.facebook.com/proyectandopy/')"><i class="fa fa-facebook" aria-hidden="true"></i></button>
          <button class="twitter-button" clear (click)="openLink('https://twitter.com/proyectandoPy')"><i class="fa fa-twitter" aria-hidden="true"></i></button>
        <a href="http://hackathon.innovando.gov.py/edicion-2017">
          <img border="0" alt="hackathon" src="/assets/img/innovando.jpg" height="40">
          </a>
          <a href="https://www.senatics.gov.py/" target="_blank">
            <img border="0" alt="hackathon" src="/assets/img/senatics.png" height="40">
            </a>
            <a href="http://www.stp.gov.py/v1/" target="_blank">
              <img border="0" alt="hackathon" src="/assets/img/stp.png" height="40">
              </a>
              <a href="http://www.stp.gov.py/pnd/" target="_blank">
                <img border="0" alt="hackathon" src="/assets/img/pnd.png" height="80">
                </a>
            </div>
      </ion-col>
        <ion-col col-sm-12 col-md-12 col-12  col-lg-4 col-xl-4>

        <h5 class="white-text">Enlaces de Interés</h5>
        <div >
        <ul>
          <li><a class="white-text white-enlaces" target="_blank" href="http://www.presidencia.gov.py/">Presidencia de la República del Paraguay</a></li>
          <li><a class="white-text white-enlaces" target="_blank" href="http://www.sfp.gov.py/">Secretaría de la Función Pública (SFP)</a></li>
          <li><a class="white-text white-enlaces" target="_blank" href="http://www.sas.gov.py/">Secretaría de Acción Social (SAS)</a></li>
          <li><a class="white-text white-enlaces" target="_blank" href="http://www.fondec.gov.py/">Fondo Nacional de la Cultura y las Artes (FONDEC)</a></li>
          <li><a class="white-text white-enlaces" target="_blank" href="http://www.senatur.gov.py/">Secretaría Nacional de Turismo (SENATUR)</a></li>
          <li><a class="white-text white-enlaces" target="_blank" href="http://www.ministeriodejusticia.gov.py/">Ministerio de Justicia (MJ)</a></li>
          <li><a class="white-text white-enlaces" target="_blank" href="http://www.mtess.gov.py/">Ministerio de Trabajo, Empleo y Seguridad Social (MTESS)</a></li>
          <li><a class="white-text white-enlaces" target="_blank" href="http://www.cultura.gov.py/">Secretaría Nacional de Cultura (SNC)</a></li>
          <li><a class="white-text white-enlaces" target="_blank" href="http://www.sicom.gov.py/">Secretaría de Información y Comunicación (SICOM)</a></li>
          <li><a class="white-text white-enlaces" target="_blank" href="http://www.indi.gov.py/">Instituto Paraguayo del Indigena (INDI)</a></li>
          <li><a class="white-text white-enlaces" target="_blank" href="http://www.mec.gov.py/cms/">Ministerio de Educación y Cultura (MEC)</a></li>
          <li><a class="white-text white-enlaces" target="_blank" href="http://www.hacienda.gov.py/">Ministerio de Hacienda (MH)</a></li>
          <li><a class="white-text white-enlaces" target="_blank" href="http://www.snd.gov.py/">Secretaría Nacional de Deportes (SND)</a></li>
          <li><a class="white-text white-enlaces" target="_blank" href="http://www.mspbs.gov.py/">Ministerio de Salud Pública y Bienestar Social (MSPyBS)</a></li>
        </ul>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
