<div>
  <ion-label class="title-page item-grouper">Estadísticas
    <a class="leaflet-control-zoom-out" (click)="appHelper.download('.graph-canva', ['.selection-info'], ['.graph-title'], 'Entidad', item.nivelid+'_'+item.entidadid, 'estadistica', 'estadistica.jpg')">
      <i class="fa fa-download"></i>
    </a>
    <a class="leaflet-control-zoom-out" (click)="appHelper.shareDiv('.graph-canva', ['.selection-info'])">
      <i class="fa fa-share-alt" aria-hidden="true"></i>
    </a>
  </ion-label>


  <ion-item>
    <ion-label hidden>Programas</ion-label>
    <ion-select class="py-canva-select" [(ngModel)]="selectData" (ionChange)="onItemSelect($event)" cancelText="Cancelar">
      <ion-option *ngFor="let option of options" value="{{option.nombre}}">{{option.nombre}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-grid class="graph-canva">
    <ion-row class="graph-title" style="display: none;">
      <ion-col col-xs-12 col-sm-12 col-lg-9 style="text-align: center;">
        <h3>Beneficiarios por {{selectData}}</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-xs-12 col-sm-12 col-lg-9>
        <div #graph style="display:table; margin: 0 auto; width: 100%"></div>
      </ion-col>
      <ion-col col-3 *ngIf="!smallScreen">
        <div class="pie-info leaflet-top leaflet-right">
          <div class="info leaflet-control selection-info">
            <h4>{{selectedTitle}}</h4>
            <b id="label">Seleccione un programa</b><br>
            <p id="count"></p>
            <p id="percentage"></p>
            <div id="detail"></div>
          </div>
          <div id="pie-info-legend" class="info legend leaflet-control"></div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="smallScreen">
      <ion-col col-xs-12 col-sm-12>
        <div class="pie-info leaflet-top leaflet-right">
          <div class="info leaflet-control  leaflet-center">
            <h4>{{selectedTitle}}</h4>
            <b id="label">Seleccione un programa</b><br>
            <p id="count"></p>
            <p id="percentage"></p>
          </div>
          <div id="pie-info-legend" class="info legend leaflet-control leaflet-center"></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<style>
#chart {                                                          /* NEW */
  height: 360px;                                                  /* NEW */
  position: relative;                                             /* NEW */
  width: 360px;                                                   /* NEW */
  }                                                                 /* NEW */
  .tooltip {                                                        /* NEW */
    background: #eee;                                               /* NEW */
    box-shadow: 0 0 5px #999999;                                    /* NEW */
    color: #333;                                                    /* NEW */
    display: none;                                                  /* NEW */
    font-size: 12px;                                                /* NEW */
    left: 130px;                                                    /* NEW */
    padding: 10px;                                                  /* NEW */
    position: absolute;                                             /* NEW */
    text-align: center;                                             /* NEW */
    top: 95px;                                                      /* NEW */
    width: 80px;                                                    /* NEW */
    z-index: 10;                                                    /* NEW */
    }                                                                 /* NEW */
    .legend {
      font-size: 12px;
    }
    rect {
      stroke-width: 2;
    }
</style>
