<ion-card >
  <ion-card-header class="color-2">
    <select class="py-canva-select"></select>
  </ion-card-header>
  <ion-card-content>
    <div #graph style="display:table; margin: 0 auto; width: 80%;"></div>
  </ion-card-content>
</ion-card>

<style>
#chart {                                                          /* NEW */
  height: 360px;                                                  /* NEW */
  position: relative;                                             /* NEW */
  width: 360px;                                                   /* NEW */
  }                                                                 /* NEW */
  .tooltip {                                                        /* NEW */
    background: #eee;                                               /* NEW */
    box-shadow: 0 0 5px #999999;                                    /* NEW */
    color: #333;                                                    /* NEW */
    display: none;                                                  /* NEW */
    font-size: 12px;                                                /* NEW */
    left: 130px;                                                    /* NEW */
    padding: 10px;                                                  /* NEW */
    position: absolute;                                             /* NEW */
    text-align: center;                                             /* NEW */
    top: 95px;                                                      /* NEW */
    width: 80px;                                                    /* NEW */
    z-index: 10;                                                    /* NEW */
    }                                                                 /* NEW */
    .legend {
      font-size: 12px;
    }
    rect {
      stroke-width: 2;
    }
    </style>
