<ion-header>
  <ion-title class="app-title" col-12 >proyectandoPy</ion-title>

  <ion-navbar  #content id="subnavbar">


    <ion-title class="app-subtitle"><ion-label> Instituciones </ion-label>
      <button ion-button clear (click)="showSearch()"><ion-icon name="search"></ion-icon></button>

    </ion-title>

  </ion-navbar>


  <ion-searchbar [showCancelButton]=true [animated]=true hidden id="search-div"(ionInput)="getItems($event)" placeholder="Buscar" (ionCancel)="cancelSearch($event)">
</ion-searchbar>


</ion-header>



<ion-content  class="common-list">


  <ion-fab hidden left bottom edge style="bottom: 10px;"  id="opensidebar"  click="oppensidebar()">
      <button ion-fab  menuToggle color=secondary> <!-- basic usage -->
      <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
    </ion-fab>

  <ion-grid>
    <ion-row>
      <ion-col [attr.width-20]="opensidebar? true : false" class="filter-sidebar"  id="filter-sidebar" col-sm-8 col-md-8  col-lg-2 col-xl-2>
        <ion-fab  right bottom edge style="bottom: 10px;" class="closesidebar" click="closesidebar()">
            <button ion-fab  menuToggle color=secondary> <!-- basic usage -->
            <i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
          </ion-fab>
        <div id="filter-sidebar-div">
          <ion-list class="selec-header">
         <ion-item>
           <ion-label>Niveles</ion-label>
           <ion-select [(ngModel)]="selectedNiveles" multiple="true" cancelText="Cancelar" okText="Filtrar" (ionChange)="filter($event)">
             <ion-option  *ngFor="let nivel of niveles | keys"  value="{{niveles[nivel].id}}" selected="selectedNiveles.contains(nivel)">{{niveles[nivel].nombre}}</ion-option>

           </ion-select>
         </ion-item>

       </ion-list>
        </div>
        <div class="chips-div">
          <ion-chip *ngFor="let nivel of selectedNiveles"  #chip>
             <ion-label>{{niveles[nivel].nombre}}</ion-label>
             <button ion-button clear color=clear (click)="delete(chip, nivel)">
               <ion-icon name="close-circle"></ion-icon>
             </button>
           </ion-chip>
        </div>
      </ion-col>
      <ion-col col-sm-12 col-md-12 offset-lg-2 offset-xl-2 col-lg-10 col-xl-10>

        <ion-list class='list-institution'>
          <div *ngFor="let nivel of groupedItems">
            <ion-item class="item-grouper">Nivel: {{nivel.name}}</ion-item>
            <div *ngFor="let entidad of nivel.entidades">
              <ion-item class="item-grouper entidad-grouper">Entidad: {{entidad.name}}</ion-item>
              <button ion-item class="success" *ngFor="let item of entidad.items" (click)="itemTapped($event, item)">
                <ion-item>
                  <ion-avatar item-start>
                      <i class="fa fa-bank"></i>
                  </ion-avatar>
                  <div class="item-list">
                    <h2>{{item.nombre}}</h2>
                    <h5 ><ion-badge class="label_c1"><i class="fa fa-users" aria-hidden="true"></i>260</ion-badge>
                    <ion-badge class="label_c2"><i class="fa fa-money" aria-hidden="true"></i>130</ion-badge></h5>
                  </div>
                  <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" class="right"></ion-icon>
                </ion-item>
              </button>
            </div>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>@Hackathon2017 - Senatics - STP</ion-title>
  </ion-toolbar>
</ion-footer>
