
<ion-header>
  <ion-title class="app-title" col-12 >proyectandoPy</ion-title>
  <ion-navbar id="subnavbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="app-subtitle">{{item.nombre}}</ion-title>
  </ion-navbar>


</ion-header>
<ion-content >
  <ion-fab *ngIf="!openbar" left bottom edge style="bottom: 10px;"  id="opensidebar" (click)="opensidebar()">
      <button ion-fab  menuToggle color=secondary> <!-- basic usage -->
      <i class="fa fa-filter" aria-hidden="true"></i></button>
    </ion-fab>

  <ion-grid class="principal-grid">
    <ion-row>

      <ion-col *ngIf="openbar" class="filter-sidebar"  id="filter-sidebar" col-sm-8 col-8 col-md-8  col-lg-2 col-xl-2>
        <div *ngIf="openbar"  left top style="bottom: 10px;" class="closesidebar" >
            <button  menuToggle color=secondary (click)="closesidebar()"> <!-- basic usage -->
            <i class="fa fa-times" aria-hidden="true"></i></button>
          </div>
        <div id="filter-sidebar-div">
          <button  ion-button item-end outline [ngClass]="(tabactive=='mapa' ? 'sidebarbutton active' : 'sidebarbutton')" (click)="changetab('mapa')">
            <i class="fa fa-map" aria-hidden="true"></i>
            Mapa de Calor
          </button>
          <button  ion-button item-end outline [ngClass]="(tabactive=='barra' ? 'sidebarbutton active' : 'sidebarbutton')" (click)="changetab('barra')">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
            Grafico de Barra
          </button>
          <button  ion-button item-end right  outline class ='sidebarbutton ' style="margin-top:8px;"  (click)="changetab('general')">

            Información
          </button>
          <ion-list class="selec-header">
         <ion-item>
           <ion-label>Presupuesto: <p>{{appHelper.numberFormatter(item.cantidadFinanciera)}} Gs.</p></ion-label>

         </ion-item>
         <ion-item>
           <ion-label>Cantidad Programada de Beneficiarios: <p>{{item.cantidadProgramada}}</p></ion-label>

         </ion-item>
         <ion-item>
           <ion-label *ngIf="item.cantidadDenominador > 0" >Cantidad Actual de Beneficiarios: <p>{{item.cantidadAvance+(item.cantidadPromedio/item.cantidadDenominador)}}</p></ion-label>
           <ion-label *ngIf="item.cantidadDenominador <= 0" >Cantidad Actual de Beneficiarios: <p>{{item.cantidadAvance}}</p></ion-label>

         </ion-item>
         <ion-item>
           <ion-label>Unidad de Medida: <p>{{item.unidadMedida}}</p></ion-label>

         </ion-item>

       </ion-list>
        </div>


      </ion-col>

      <ion-col *ngIf="tabactive=='mapa'" [ngClass]="(!openbar ? 'central-col' : 'normal-col')" col-sm-12 col-md-12 offset-lg-2 offset-xl-2 col-lg-10 col-xl-10>

        <ion-item class="item-grouper">Grafica
        </ion-item>
        <a class="leaflet-control-zoom-out" (click)="appHelper.download('svg')">
          <i class="fa fa-download"></i>
        </a>
        <div  style="height: calc(100% - 46px);" id="map"></div>
      </ion-col>
      <ion-col *ngIf="tabactive=='barra'" [ngClass]="(!openbar ? 'central-col' : 'normal-col')" col-sm-12 col-md-12 offset-lg-2 offset-xl-2 col-lg-10 col-xl-10>

        <ion-item class="item-grouper">Grafica
        </ion-item>
        <svg width="960" height="500"></svg>
      </ion-col>
      <ion-col [ngClass]="(!openbar ? 'central-col footer_col footer_content' : 'normal-col footer_content')" col-sm-12 col-md-12 offset-lg-2 offset-xl-2 col-lg-10 col-xl-10>
        <ppy-footer></ppy-footer>
      </ion-col>
  </ion-row>

  </ion-grid>

</ion-content>
