<ion-header>
  <ion-title class="app-title" col-12 >proyectandoPy</ion-title>
  <ion-navbar id="subnavbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="app-subtitle"><ion-label> PND </ion-label>
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content  class="common-list">
  <ion-fab *ngIf="!openbar" left bottom edge style="bottom: 10px;"  id="opensidebar" (click)="opensidebar()">
      <button ion-fab  menuToggle color=secondary> <!-- basic usage -->
      <i class="fa fa-filter" aria-hidden="true"></i></button>
    </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="openbar" class="filter-sidebar"  id="filter-sidebar" col-sm-8 col-8 col-md-8  col-lg-2 col-xl-2>
        <div *ngIf="openbar"  left top style="bottom: 10px;" class="closesidebar" >
            <button  menuToggle color=secondary (click)="closesidebar()"> <!-- basic usage -->
            <i class="fa fa-times" aria-hidden="true"></i></button>
          </div>
        <button  ion-button item-end right  outline [ngClass]="(tabactive=='general' ? 'sidebarbutton active' : 'sidebarbutton')" style="margin-top:8px;"  (click)="changetab('general')">
          <i class="fa fa-th-list" aria-hidden="true"></i>
          General
        </button>
        <button  ion-button item-end outline [ngClass]="(tabactive=='eje' ? 'sidebarbutton active' : 'sidebarbutton')" (click)="changetab('eje')">
          <i class="fa fa-cogs" aria-hidden="true"></i>
          Ejes
        </button>
        <button  ion-button item-end outline [ngClass]="(tabactive=='estrategia' ? 'sidebarbutton active' : 'sidebarbutton')" (click)="changetab('estrategia')">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          Estrategias
        </button>
        <ion-list style="margin-top: 15px;">
          <ion-item class="filter-select labelfilter">

          <ion-label>Nivel</ion-label>
        </ion-item>
          <ion-item class="filter-select ">
          <ion-label>Nivel</ion-label>
          <ion-select  [(ngModel)]="selectedNiveles" cancelText="Cancelar" multiple="false" (ionChange)="filter($event, false)">
            <ion-option  value="null" selected="true">Todos</ion-option>
            <ion-option *ngFor="let nivel of niveles"  value="{{nivel.id}}" >{{nivel.nombre}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="filter-select labelfilter">
        <ion-label>Entidad</ion-label>
      </ion-item>
        <ion-item class="filter-select ">
        <ion-label>Entidad</ion-label>
        <ion-select  [(ngModel)]="selectedEntidades" cancelText="Cancelar" (ionChange)="filter($event, false)">
          <ion-option  value="null" selected="true">Todos</ion-option>
          <ion-option *ngFor="let entidad of entidades"  value="{{entidad.id}}" >{{entidad.nombre}}</ion-option>
        </ion-select>
        </ion-item>
        <ion-item class="filter-select labelfilter">
        <ion-label>Año</ion-label>
      </ion-item>
        <ion-item class="filter-select " >
        <ion-label>Año</ion-label>
        <ion-select [(ngModel)]="selectedAnhos" cancelText="Cancelar" (ionChange)="filter($event, false)">
          <ion-option  value="null" selected="true">Todos</ion-option>
          <ion-option *ngFor="let anho of anhos"  value="{{anho}}" >{{anho}}</ion-option>
        </ion-select>
      </ion-item>
        </ion-list>

      </ion-col>

        <ion-col *ngIf="tabactive=='general'" [ngClass]="(!openbar ? 'central-col' : 'normal-col')" col-sm-12 col-md-12 offset-lg-2 offset-xl-2 col-lg-10 col-xl-10>
        <ion-grid>
          <ion-row class=resumen>
            <ion-col class="title c1" col-12>
              <ion-label>Totales</ion-label>
            </ion-col>
            <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
              <ion-avatar class="c1" item-start>
                  <i class="fa fa-bank"></i>
              </ion-avatar>
              <ion-label>{{general.entidades}} Entidades

              </ion-label>

            </ion-col>
            <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
              <ion-avatar class="c1" item-start>
                <i class="fa fa-link" aria-hidden="true"></i>
              </ion-avatar>
              <ion-label>{{general.objetivos}} Objetivos</ion-label>
            </ion-col>
            <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
              <ion-avatar class="c1" item-start>
                  <i class="fa fa-users"></i>
              </ion-avatar>
              <ion-label>{{general.personas}} Personas 
                  <a (click)="openModal(general.beneficiarios)" style="text-transform: lowercase;">Ver mas</a>
              </ion-label>

            </ion-col>
            <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
              <ion-avatar class="c1" item-start>
                <i class="fa fa-money" aria-hidden="true"></i>
              </ion-avatar>
              <ion-label>{{general.monto}} gs.</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col *ngIf="tabactive=='eje'" [ngClass]="(!openbar ? 'central-col' : 'normal-col')" col-sm-12 col-md-12 offset-lg-2 offset-xl-2 col-lg-10 col-xl-10>
        <ion-grid>
          <ion-row class=resumen>
            <ion-col class="title c2" col-12>
              <ion-label>Eje 1: Reducción de pobreza y desarrollo social</ion-label>
            </ion-col>
            <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
              <ion-avatar class="c2" item-start>
                  <i class="fa fa-bank"></i>
              </ion-avatar>
              <ion-label>3 Entidades</ion-label>
            </ion-col>
            <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
              <ion-avatar class="c2"  item-start>
                <i class="fa fa-link" aria-hidden="true"></i>
              </ion-avatar>
              <ion-label>2 Objetivos</ion-label>
            </ion-col>
            <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
              <ion-avatar  class="c2" item-start>
                  <i class="fa fa-users"></i>
              </ion-avatar>
              <ion-label>1000 Personas</ion-label>
            </ion-col>
            <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
              <ion-avatar  class="c2" item-start>
                <i class="fa fa-money" aria-hidden="true"></i>
              </ion-avatar>
              <ion-label>100.000.000 gs.</ion-label>
            </ion-col>
          </ion-row>
          <ion-row class=resumen>
            <ion-col class="title c3" col-12>
              <ion-label>Eje 2: Crecimiento económico inclusivo</ion-label>
            </ion-col>
            <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
              <ion-avatar  class="c3" item-start>
                  <i class="fa fa-bank"></i>
              </ion-avatar>
              <ion-label>3 Entidades</ion-label>
            </ion-col>
            <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
              <ion-avatar  class="c3" item-start>
                <i class="fa fa-link" aria-hidden="true"></i>
              </ion-avatar>
              <ion-label>2 Objetivos</ion-label>
            </ion-col>
            <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
              <ion-avatar class="c3" item-start>
                  <i class="fa fa-users"></i>
              </ion-avatar>
              <ion-label>1000 Personas</ion-label>
            </ion-col>
            <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
              <ion-avatar class="c3" item-start>
                <i class="fa fa-money" aria-hidden="true"></i>
              </ion-avatar>
              <ion-label>100.000.000 gs.</ion-label>
            </ion-col>
          </ion-row>
          <ion-row class=resumen>
            <ion-col class="title c4" col-12>
              <ion-label>Eje 3: Inserción de Paraguay en el mundo</ion-label>
            </ion-col>
            <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
              <ion-avatar class="c4" item-start>
                  <i class="fa fa-bank"></i>
              </ion-avatar>
              <ion-label>3 Entidades</ion-label>
            </ion-col>
            <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
              <ion-avatar class="c4" item-start>
                <i class="fa fa-link" aria-hidden="true"></i>
              </ion-avatar>
              <ion-label>2 Objetivos</ion-label>
            </ion-col>
            <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
              <ion-avatar class="c4" item-start>
                  <i class="fa fa-users"></i>
              </ion-avatar>
              <ion-label>1000 Personas</ion-label>
            </ion-col>
            <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
              <ion-avatar class="c4" item-start>
                <i class="fa fa-money" aria-hidden="true"></i>
              </ion-avatar>
              <ion-label>100.000.000 gs.</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col *ngIf="tabactive=='estrategia'" [ngClass]="(!openbar ? 'central-col' : 'normal-col')" col-sm-12 col-md-12 offset-lg-2 offset-xl-2 col-lg-10 col-xl-10>
        <ion-grid>
          <ion-row class=resumen>
            <ion-col class="title c1" col-12 >
              <ion-label>Igualdad de oportunidades</ion-label>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4>
              <ion-grid>
                <ion-row class=resumen>
                  <ion-col class="item-resumen" col-12 >
                    <ion-avatar class="c2" item-start>
                        <i class="fa fa-bank"></i>
                    </ion-avatar>
                    <ion-label>3 Entidades</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c2" item-start>
                      <i class="fa fa-link" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>2 Objetivos</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c2" item-start>
                        <i class="fa fa-users"></i>
                    </ion-avatar>
                    <ion-label>1000 Personas</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c2" item-start>
                      <i class="fa fa-money" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>100.000.000 gs.</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4>
              <ion-grid>
                <ion-row class=resumen>
                  <ion-col class="item-resumen" col-12 >
                    <ion-avatar class="c3" item-start>
                        <i class="fa fa-bank"></i>
                    </ion-avatar>
                    <ion-label>3 Entidades</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c3" item-start>
                      <i class="fa fa-link" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>2 Objetivos</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c3" item-start>
                        <i class="fa fa-users"></i>
                    </ion-avatar>
                    <ion-label>1000 Personas</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c3" item-start>
                      <i class="fa fa-money" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>100.000.000 gs.</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4>
              <ion-grid>
                <ion-row class=resumen>
                  <ion-col class="item-resumen" col-12 >
                    <ion-avatar class="c4" item-start>
                        <i class="fa fa-bank"></i>
                    </ion-avatar>
                    <ion-label>3 Entidades</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c4" item-start>
                      <i class="fa fa-link" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>2 Objetivos</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c4" item-start>
                        <i class="fa fa-users"></i>
                    </ion-avatar>
                    <ion-label>1000 Personas</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c4" item-start>
                      <i class="fa fa-money" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>100.000.000 gs.</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
          <ion-row class=resumen>
            <ion-col class="title c1" col-12 >
              <ion-label>Desarrollo y ordenamiento territorial</ion-label>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4>
              <ion-grid>
                <ion-row class=resumen>
                  <ion-col class="item-resumen" col-12 >
                    <ion-avatar class="c2" item-start>
                        <i class="fa fa-bank"></i>
                    </ion-avatar>
                    <ion-label>3 Entidades</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c2" item-start>
                      <i class="fa fa-link" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>2 Objetivos</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c2" item-start>
                        <i class="fa fa-users"></i>
                    </ion-avatar>
                    <ion-label>1000 Personas</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c2" item-start>
                      <i class="fa fa-money" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>100.000.000 gs.</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4>
              <ion-grid>
                <ion-row class=resumen>
                  <ion-col class="item-resumen" col-12 >
                    <ion-avatar class="c3" item-start>
                        <i class="fa fa-bank"></i>
                    </ion-avatar>
                    <ion-label>3 Entidades</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c3" item-start>
                      <i class="fa fa-link" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>2 Objetivos</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c3" item-start>
                        <i class="fa fa-users"></i>
                    </ion-avatar>
                    <ion-label>1000 Personas</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c3" item-start>
                      <i class="fa fa-money" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>100.000.000 gs.</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4>
              <ion-grid>
                <ion-row class=resumen>
                  <ion-col class="item-resumen" col-12 >
                    <ion-avatar class="c4" item-start>
                        <i class="fa fa-bank"></i>
                    </ion-avatar>
                    <ion-label>3 Entidades</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c4" item-start>
                      <i class="fa fa-link" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>2 Objetivos</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c4" item-start>
                        <i class="fa fa-users"></i>
                    </ion-avatar>
                    <ion-label>1000 Personas</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c4" item-start>
                      <i class="fa fa-money" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>100.000.000 gs.</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
          <ion-row class=resumen>
            <ion-col class="title c1" col-12 >
              <ion-label>Gestión pública eficiente y transparente</ion-label>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4>
              <ion-grid>
                <ion-row class=resumen>
                  <ion-col class="item-resumen" col-12 >
                    <ion-avatar class="c2" item-start>
                        <i class="fa fa-bank"></i>
                    </ion-avatar>
                    <ion-label>3 Entidades</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c2" item-start>
                      <i class="fa fa-link" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>2 Objetivos</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c2" item-start>
                        <i class="fa fa-users"></i>
                    </ion-avatar>
                    <ion-label>1000 Personas</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c2" item-start>
                      <i class="fa fa-money" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>100.000.000 gs.</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4>
              <ion-grid>
                <ion-row class=resumen>
                  <ion-col class="item-resumen" col-12 >
                    <ion-avatar class="c3" item-start>
                        <i class="fa fa-bank"></i>
                    </ion-avatar>
                    <ion-label>3 Entidades</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c3" item-start>
                      <i class="fa fa-link" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>2 Objetivos</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c3" item-start>
                        <i class="fa fa-users"></i>
                    </ion-avatar>
                    <ion-label>1000 Personas</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c3" item-start>
                      <i class="fa fa-money" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>100.000.000 gs.</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4>
              <ion-grid>
                <ion-row class=resumen>
                  <ion-col class="item-resumen" col-12 >
                    <ion-avatar class="c4" item-start>
                        <i class="fa fa-bank"></i>
                    </ion-avatar>
                    <ion-label>3 Entidades</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c4" item-start>
                      <i class="fa fa-link" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>2 Objetivos</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c4" item-start>
                        <i class="fa fa-users"></i>
                    </ion-avatar>
                    <ion-label>1000 Personas</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c4" item-start>
                      <i class="fa fa-money" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>100.000.000 gs.</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
          <ion-row class=resumen>
            <ion-col class="title c1" col-12 >
              <ion-label>Sostenibilidad ambiental</ion-label>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4>
              <ion-grid>
                <ion-row class=resumen>
                  <ion-col class="item-resumen" col-12 >
                    <ion-avatar class="c2" item-start>
                        <i class="fa fa-bank"></i>
                    </ion-avatar>
                    <ion-label>3 Entidades</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c2" item-start>
                      <i class="fa fa-link" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>2 Objetivos</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c2" item-start>
                        <i class="fa fa-users"></i>
                    </ion-avatar>
                    <ion-label>1000 Personas</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c2" item-start>
                      <i class="fa fa-money" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>100.000.000 gs.</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4>
              <ion-grid>
                <ion-row class=resumen>
                  <ion-col class="item-resumen" col-12 >
                    <ion-avatar class="c3" item-start>
                        <i class="fa fa-bank"></i>
                    </ion-avatar>
                    <ion-label>3 Entidades</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c3" item-start>
                      <i class="fa fa-link" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>2 Objetivos</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c3" item-start>
                        <i class="fa fa-users"></i>
                    </ion-avatar>
                    <ion-label>1000 Personas</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c3" item-start>
                      <i class="fa fa-money" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>100.000.000 gs.</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4>
              <ion-grid>
                <ion-row class=resumen>
                  <ion-col class="item-resumen" col-12 >
                    <ion-avatar class="c4" item-start>
                        <i class="fa fa-bank"></i>
                    </ion-avatar>
                    <ion-label>3 Entidades</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c4" item-start>
                      <i class="fa fa-link" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>2 Objetivos</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c4" item-start>
                        <i class="fa fa-users"></i>
                    </ion-avatar>
                    <ion-label>1000 Personas</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12>
                    <ion-avatar class="c4" item-start>
                      <i class="fa fa-money" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>100.000.000 gs.</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col   [ngClass]="(!openbar ? 'central-col' : 'normal-col')" col-sm-12 col-md-12 offset-lg-2 offset-xl-2 col-lg-10 col-xl-10>
        <ion-grid class="common-grid">
          <ion-row>
            <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center>
              <div class="starts">
                <ppy-rating [rating]="{page: 'show-pnd', entity_id: 1, entity_type: 'PND', score: calificacion, meta: '{}'}" [options]="['General', 'Ejes', 'Estrategias']"></ppy-rating>
              </div>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 text-center>
              <ppy-comment [comment]="{page: 'show-pnd', entity_id: 1, entity_type: 'PND', text: '', meta: null}"></ppy-comment>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>@Hackathon2017 - Senatics - STP</ion-title>
  </ion-toolbar>
</ion-footer>
