<ion-header>
  <ion-title class="app-title" col-12 >proyectandoPy</ion-title>
  <ion-navbar id="subnavbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="app-subtitle"><ion-label> PND </ion-label>
    </ion-title>
  </ion-navbar>
  <ion-toolbar *ngIf="shownab" class="pnd-toolbar">
    <ion-grid>
      <ion-row>
        <ion-col  ion-button item-end right outline [ngClass]="(tabactive=='general' ? 'sidebarbutton active' : 'sidebarbutton')"   (click)="changetab('general')">
          <i class="fa fa-th-list" aria-hidden="true"></i>
          General
        </ion-col>
        <ion-col  ion-button item-end outline [ngClass]="(tabactive=='eje' ? 'sidebarbutton active' : 'sidebarbutton')" (click)="changetab('eje')">
          <i class="fa fa-cogs" aria-hidden="true"></i>
          Ejes
        </ion-col>
        <ion-col  ion-button item-end outline [ngClass]="(tabactive=='estrategia' ? 'sidebarbutton active' : 'sidebarbutton')" (click)="changetab('estrategia')">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          Estrategias
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content  class="common-list">
  <ion-fab *ngIf="!openbar" right bottom edge style="bottom: 10px;"  id="opensidebar" (click)="opensidebar()">
      <button ion-fab  menuToggle color=secondary> <!-- basic usage -->
      <i class="fa fa-filter" aria-hidden="true"></i></button>
    </ion-fab>
  <ion-grid class="pnd_grid">
    <ion-row>
      <ion-col *ngIf="openbar" class="filter-sidebar "  id="filter-sidebar" col-sm-8 col-8 col-md-8  col-lg-2 col-xl-2>
        <div *ngIf="openbar"  left top style="bottom: 10px;" class="closesidebar" >
            <button  menuToggle color=secondary (click)="closesidebar()"> <!-- basic usage -->
            <i class="fa fa-times" aria-hidden="true"></i></button>
          </div>
        <button *ngIf="!shownab"  ion-button item-end right  outline [ngClass]="(tabactive=='general' ? 'sidebarbutton active' : 'sidebarbutton')" style="margin-top:8px;"  (click)="changetab('general')">
          <i class="fa fa-th-list" aria-hidden="true"></i>
          General
        </button>
        <button *ngIf="!shownab" ion-button item-end outline [ngClass]="(tabactive=='eje' ? 'sidebarbutton active' : 'sidebarbutton')" (click)="changetab('eje')">
          <i class="fa fa-cogs" aria-hidden="true"></i>
          Ejes
        </button>
        <button *ngIf="!shownab" ion-button item-end outline [ngClass]="(tabactive=='estrategia' ? 'sidebarbutton active' : 'sidebarbutton')" (click)="changetab('estrategia')">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          Estrategias
        </button>

        <ion-list style="margin-top: 15px; width: 90%;">
          <ion-item class="filter-select labelfilter">

          <ion-label>Nivel</ion-label>
        </ion-item>
          <ion-item class="filter-select ">
          <ion-label>Nivel</ion-label>
          <ion-select  [(ngModel)]="selectedNiveles" cancelText="Cancelar" multiple="false" (ionChange)="filter($event, false)">
            <ion-option  value="null" selected="true">Todos</ion-option>
            <ion-option *ngFor="let nivel of niveles"  value="{{nivel.id}}" >{{nivel.nombre}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="filter-select labelfilter">
        <ion-label>Entidad</ion-label>
      </ion-item>
        <ion-item class="filter-select ">
        <ion-label>Entidad</ion-label>
        <ion-select  [(ngModel)]="selectedEntidades" cancelText="Cancelar" (ionChange)="filter($event, false)">
          <ion-option  value="null" selected="true">Todos</ion-option>
          <ion-option *ngFor="let entidad of entidades"  value="{{entidad.id}}" >{{entidad.nombre}}</ion-option>
        </ion-select>
        </ion-item>
        <ion-item class="filter-select labelfilter">
        <ion-label>Año</ion-label>
      </ion-item>
        <ion-item class="filter-select " >
        <ion-label>Año</ion-label>
        <ion-select [(ngModel)]="selectedAnhos" cancelText="Cancelar" (ionChange)="filter($event, false)">
          <ion-option  value="null" selected="true">Todos</ion-option>
          <ion-option *ngFor="let anho of anhos"  value="{{anho}}" >{{anho}}</ion-option>
        </ion-select>
      </ion-item>
        </ion-list>
        <ion-label class="metrica-label">{{count_view}} visita/s - {{count_download}} descarga/s</ion-label>
        <div>
          <ion-slides pager class="helpslide">

             <ion-slide >
               <p>Necesitas Ayuda?</p>
               <ion-toolbar class="tutorial-buttons">
                 <ion-icon right class="right" name="ios-arrow-forward" color="default"  (click)="goToSlide()"></ion-icon>
               </ion-toolbar>
             </ion-slide>

             <ion-slide >
               <p>Aquí puedes ver la información del Plan Nacional de Desarrollo 2030</p>
               <ion-toolbar class="tutorial-buttons">
                 <ion-icon right class="right" name="ios-arrow-forward" color="default"  (click)="goToSlide()"></ion-icon>
                 <ion-icon left class="left" name="ios-arrow-back" color="default"  (click)="gobackSlide()"></ion-icon>
               </ion-toolbar>
             </ion-slide>
             <ion-slide >
               <p>El contenido está dividido en tres secciones: General (La Información global del PND), Ejes (La Información agrupada por cada eje estratégico del PND) y Estrategias (La Información agrupada por cada eje estratégico y estrategia del PND)</p>
               <ion-toolbar class="tutorial-buttons">
                 <ion-icon right class="right" name="ios-arrow-forward" color="default"  (click)="goToSlide()"></ion-icon>
                 <ion-icon left class="left" name="ios-arrow-back" color="default"  (click)="gobackSlide()"></ion-icon>
               </ion-toolbar>
             </ion-slide>
             <ion-slide >
               <p>Esta Información muestra la cantidad de entidades involucradas en el PND, la cantidad de Objetivos que buscan cumplir, El presupuesto asignado para llevar a cabo el plan y la cantidad de beneficiarios.</p>
               <ion-toolbar class="tutorial-buttons">
                 <ion-icon right class="right" name="ios-arrow-forward" color="default"  (click)="goToSlide()"></ion-icon>
                 <ion-icon left class="left" name="ios-arrow-back" color="default"  (click)="gobackSlide()"></ion-icon>
               </ion-toolbar>
             </ion-slide>

             <ion-slide >
               <p>Al hacer click en "ver más" dentro de beneficiarios puedes ver en detalle cada beneficiario del PND</p>
               <ion-toolbar class="tutorial-buttons">
                 <ion-icon right class="right" name="ios-arrow-forward" color="default"  (click)="goToSlide()"></ion-icon>
                 <ion-icon left class="left" name="ios-arrow-back" color="default"  (click)="gobackSlide()"></ion-icon>
               </ion-toolbar>
             </ion-slide>
             <ion-slide >
               <p>También puedes filtrar la información por Nivel, Entidad y Año.</p>
               <ion-toolbar class="tutorial-buttons">
                 <ion-icon right class="right" name="ios-arrow-forward" color="default"  (click)="goToSlide()"></ion-icon>
                 <ion-icon left class="left" name="ios-arrow-back" color="default"  (click)="gobackSlide()"></ion-icon>
               </ion-toolbar>
             </ion-slide>
             <ion-slide >
               <p>Además puedes comentar y calificar esta Información.</p>
               <ion-toolbar class="tutorial-buttons">
                 <ion-icon right class="right" name="ios-arrow-forward" color="default"  (click)="goToSlide()"></ion-icon>
                 <ion-icon left class="left" name="ios-arrow-back" color="default"  (click)="gobackSlide()"></ion-icon>
               </ion-toolbar>
             </ion-slide>
             <ion-slide >
               <p>Esperamos haberte ayudado!</p>
               <ion-toolbar class="tutorial-buttons">
                 <ion-icon left class="left" name="ios-arrow-back" color="default"  (click)="gobackSlide()"></ion-icon>
               </ion-toolbar>
             </ion-slide>

           </ion-slides>
        </div>
      </ion-col>

        <ion-col *ngIf="tabactive=='general'" [ngClass]="(!openbar ? 'central-col' : 'normal-col')" class="pnd-general" col-sm-12 col-md-12 offset-lg-2 offset-xl-2 col-lg-10 col-xl-10>
        <ion-grid >
          <ion-row class="resumen"  [ngClass]="(!shownab ? 'pnd-deskop' : 'pnd-app')">
            <ion-col class="title c5" col-12>
              <ion-label>General
                <a class="leaflet-control-zoom-out" (click)="appHelper.download('.pnd_totales', ['.vermas','.leaflet-control-zoom-out'], ['.graph-title'], 'Pnd', 1, 'pnd_view', 'pndgeneral.jpg')">
                  <i class="fa fa-download"></i>
                </a>
              </ion-label>
            </ion-col>
            <ion-col class="resumen view-content pnd_totales">
              <ion-grid >
                <ion-row>
                  <ion-col class="title c1" col-12>
                    <ion-label>Totales

                    </ion-label>
                  </ion-col>
                  <ion-col class=" item-resumen"  col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
                    <ion-avatar class="c1" item-start>
                        <i class="fa fa-bank"></i>
                    </ion-avatar>
                    <ion-label>{{appHelper.numberFormatter(general.entidades)}} Entidades

                    </ion-label>

                  </ion-col>
                  <ion-col class="item-resumen"  col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
                    <ion-avatar class="c1"  item-start>
                      <i class="fa fa-link" aria-hidden="true" ></i>
                    </ion-avatar>
                    <ion-label>{{appHelper.numberFormatter(general.objetivos)}} Objetivos</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen"  col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
                    <ion-avatar class="c1" item-start>
                        <i class="fa fa-users" ></i>
                    </ion-avatar>
                    <ion-label>{{appHelper.numberFormatter(general.personas)}} Personas
                        <a (click)="openModal(general.beneficiarios)" class="vermas" style="text-transform: lowercase;"><i class="fa fa-eye pndeye" aria-hidden="true"></i> Ver mas</a>
                    </ion-label>

                  </ion-col>
                  <ion-col class="item-resumen"  col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
                    <ion-avatar class="c1"  item-start>
                      <i class="fa fa-money"  aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>{{appHelper.numberFormatter(general.monto)}} gs.</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col *ngIf="tabactive=='eje'" [ngClass]="(!openbar ? 'central-col' : 'normal-col')" col-sm-12 col-md-12 offset-lg-2 offset-xl-2 col-lg-10 col-xl-10>
        <ion-grid>
          <ion-row *ngIf="eje['Reducción de pobreza y desarrollo social']">
            <ion-col class="resumen"  col-12>
              <ion-label class="title c5">Ejes
                <ion-fab class="download-fab">
                  <button ion-fab mini><ion-icon name="md-download"></ion-icon></button>
                  <ion-fab-list side="right" class="download-fablist">
                    <a ion-fab class="leaflet-control-zoom-out" (click)="appHelper.download('.pnd_eje', ['.vermas','.leaflet-control-zoom-out'], ['.graph-title'], 'Pnd', 1, 'pnd_view', 'pndeje.jpg')">
                    <ion-icon name="ios-image"></ion-icon>
                    </a>
                    <a ion-fab  class="" #pndeje (click)="appHelper.downloadjson('Pnd', 1, 'pnd_view', 'pndeje.json', eje, pndeje)">
                      <ion-icon name="code-download"></ion-icon>
                    </a>
                  </ion-fab-list>
                </ion-fab>


              </ion-label>
            </ion-col>
            <ion-col class="resumen view-content pnd_eje" >
              <ion-grid>
                <ion-row>
                  <ion-col class="title c2" col-12>
                    <ion-label>Eje 1: Reducción de pobreza y desarrollo social
                      <button ion-button style="height: 20px;" tooltip="Esta eje está relacionado a la capacidad de la sociedad paraguaya para cubrir las necesidades humanas básicas de sus ciudadanos, ciudadanas y comunidades." class="tooltip-list" duration=6000 positionV="bottom">
                      <i class="fa fa-info-circle" clear color='light' aria-hidden="true"></i>
                      </button>
                    </ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
                    <ion-avatar class="c2" item-start>
                        <i class="fa fa-bank"></i>
                    </ion-avatar>
                    <ion-label>{{appHelper.numberFormatter(eje["Reducción de pobreza y desarrollo social"]['entidades'].length)}} Entidades</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
                    <ion-avatar class="c2"  item-start>
                      <i class="fa fa-link" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>{{appHelper.numberFormatter(eje["Reducción de pobreza y desarrollo social"]['objetivos'].length)}} Objetivos</ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
                    <ion-avatar  class="c2" item-start>
                        <i class="fa fa-users"></i>
                    </ion-avatar>
                    <ion-label>{{appHelper.numberFormatter(eje["Reducción de pobreza y desarrollo social"]['personas'])}} Personas
                      <a (click)="openModal(eje['Reducción de pobreza y desarrollo social']['beneficiarios'])" style="text-transform: lowercase;"><i class="fa fa-eye pndeye" aria-hidden="true"></i> Ver mas</a>
                    </ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
                    <ion-avatar  class="c2" item-start>
                      <i class="fa fa-money" aria-hidden="true"></i>
                    </ion-avatar>
                    <ion-label>{{appHelper.numberFormatter(eje["Reducción de pobreza y desarrollo social"]['monto'])}} gs.</ion-label>
                  </ion-col>

                  <ion-col class="title c3" col-12>
                    <ion-label>Eje 2: Crecimiento económico inclusivo
                      <button ion-button style="height: 20px;" tooltip="Corresponde al aceleramiento del ritmo de crecimiento y a la diversificación productiva, promoviendo la participación de todos los agentes económicos y compartiendo los resultados del crecimiento principalmente con el 40% de la población de menores ingresos." class="tooltip-list" duration=6000 positionV="bottom">
                      <i class="fa fa-info-circle" clear color='light' aria-hidden="true"></i>
                      </button>
                    </ion-label>
                  </ion-col>
                  <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
                    <ion-avatar  class="c3" item-start>
                        <i class="fa fa-bank"></i>
                      </ion-avatar>
                    <ion-label>{{appHelper.numberFormatter(eje["Crecimiento económico inclusivo"]['entidades'].length)}} Entidades</ion-label>
                  </ion-col>
            <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
              <ion-avatar  class="c3" item-start>
                <i class="fa fa-link" aria-hidden="true"></i>
              </ion-avatar>
              <ion-label>{{appHelper.numberFormatter(eje["Crecimiento económico inclusivo"]['objetivos'].length)}} Objetivos</ion-label>
            </ion-col>
            <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
              <ion-avatar class="c3" item-start>
                  <i class="fa fa-users"></i>
              </ion-avatar>
              <ion-label>{{appHelper.numberFormatter(eje["Crecimiento económico inclusivo"]['personas'])}} Personas
                <a (click)="openModal(eje['Crecimiento económico inclusivo']['beneficiarios'])" style="text-transform: lowercase;"><i class="fa fa-eye pndeye" aria-hidden="true"></i> Ver mas</a></ion-label>
            </ion-col>
            <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
              <ion-avatar class="c3" item-start>
                <i class="fa fa-money" aria-hidden="true"></i>
              </ion-avatar>
              <ion-label>{{appHelper.numberFormatter(eje["Crecimiento económico inclusivo"]['monto'])}} gs.</ion-label>
            </ion-col>

            <ion-col class="title c4" col-12>
              <ion-label>Eje 3: Inserción de Paraguay en el mundo
                <button ion-button style="height: 20px;" tooltip="Propone posicionar y mejorar la imagen país; fortalecer la participación nacional en los foros internacionales; asignar recursos para ampliar la integración económica; y fortalecer vínculos para la incorporación de tecnología y conocimientos." class="tooltip-list" duration=6000 positionV="bottom">
                <i class="fa fa-info-circle" clear color='light' aria-hidden="true"></i>
                </button>
              </ion-label>
            </ion-col>
            <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
              <ion-avatar class="c4" item-start>
                  <i class="fa fa-bank"></i>
              </ion-avatar>
              <ion-label>{{appHelper.numberFormatter(eje["Inserción de Paraguay en el mundo"]['entidades'].length)}} Entidades</ion-label>
            </ion-col>
            <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
              <ion-avatar class="c4" item-start>
                <i class="fa fa-link" aria-hidden="true"></i>
              </ion-avatar>
              <ion-label>{{appHelper.numberFormatter(eje["Inserción de Paraguay en el mundo"]['objetivos'].length)}} Objetivos</ion-label>
            </ion-col>
            <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
              <ion-avatar class="c4" item-start>
                  <i class="fa fa-users"></i>
              </ion-avatar>
              <ion-label>{{appHelper.numberFormatter(eje["Inserción de Paraguay en el mundo"]['personas'])}} Personas
                <a (click)="openModal(eje['Inserción de Paraguay en el mundo']['beneficiarios'])" style="text-transform: lowercase;"><i class="fa fa-eye pndeye" aria-hidden="true"></i> Ver mas</a></ion-label>
            </ion-col>
            <ion-col class="item-resumen" col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>
              <ion-avatar class="c4" item-start>
                <i class="fa fa-money" aria-hidden="true"></i>
              </ion-avatar>
              <ion-label>{{appHelper.numberFormatter(eje["Inserción de Paraguay en el mundo"]['monto'])}} gs.</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-col>
      <ion-col *ngIf="tabactive=='estrategia'" [ngClass]="(!openbar ? 'central-col' : 'normal-col')" col-sm-12 col-md-12 offset-lg-2 offset-xl-2 col-lg-10 col-xl-10>
        <ion-grid >
          <ion-row  >
            <ion-col class="resumen"  col-12>
              <ion-label class="title c5">Estrategias
                <a class="leaflet-control-zoom-out" (click)="appHelper.download('.pnd-estrategia', ['.vermas','.leaflet-control-zoom-out'], ['.graph-title'], 'Pnd', 1, 'pnd_view', 'pndestrategias.jpg')">
                  <i class="fa fa-download"></i>
                </a>
              </ion-label>
            </ion-col>
            <ion-col class="pnd-estrategia view-content">
              <ion-grid>
                <ion-row  *ngFor="let est of estrategias | keys" class="resumen ">
                  <ion-col class="title c1" col-12 >
                    <ion-label>{{est}}
                      <button ion-button style="height: 20px;" tooltip="{{info_est[est]}}" class="tooltip-list" duration=6000 positionV="bottom">
                      <i class="fa fa-info-circle" clear color='light' aria-hidden="true"></i>
                      </button>
                    </ion-label>
                  </ion-col>
                  <ion-col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4>
                    <ion-grid>
                      <ion-row class=resumen>
                        <ion-col class="item-resumen" col-12 >
                          <ion-avatar class="c2" item-start>
                              <i class="fa fa-bank"></i>
                          </ion-avatar>
                          <ion-label>{{appHelper.numberFormatter(estrategias[est]["Reducción de pobreza y desarrollo social"]['entidades'].length)}} Entidades</ion-label>
                        </ion-col>
                        <ion-col class="item-resumen" col-12>
                          <ion-avatar class="c2" item-start>
                            <i class="fa fa-link" aria-hidden="true"></i>
                          </ion-avatar>
                          <ion-label>{{appHelper.numberFormatter(estrategias[est]["Reducción de pobreza y desarrollo social"]['objetivos'].length)}} Objetivos</ion-label>
                        </ion-col>
                        <ion-col class="item-resumen" col-12>
                          <ion-avatar class="c2" item-start>
                              <i class="fa fa-users"></i>
                          </ion-avatar>
                          <ion-label>{{appHelper.numberFormatter(estrategias[est]["Reducción de pobreza y desarrollo social"]['personas'])}} Personas
                            <a (click)="openModal(estrategias[est]['Reducción de pobreza y desarrollo social']['beneficiarios'])" style="text-transform: lowercase;"><i class="fa fa-eye pndeye" aria-hidden="true"></i> Ver mas</a></ion-label>
                        </ion-col>
                        <ion-col class="item-resumen" col-12>
                          <ion-avatar class="c2" item-start>
                            <i class="fa fa-money" aria-hidden="true"></i>
                          </ion-avatar>
                          <ion-label>{{appHelper.numberFormatter(estrategias[est]["Reducción de pobreza y desarrollo social"]['monto'])}} gs.</ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                  <ion-col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4>
                    <ion-grid>
                      <ion-row class=resumen>
                        <ion-col class="item-resumen" col-12 >
                          <ion-avatar class="c3" item-start>
                              <i class="fa fa-bank"></i>
                          </ion-avatar>
                          <ion-label>{{appHelper.numberFormatter(estrategias[est]["Crecimiento económico inclusivo"]['entidades'].length)}} Entidades</ion-label>
                        </ion-col>
                        <ion-col class="item-resumen" col-12>
                          <ion-avatar class="c3" item-start>
                            <i class="fa fa-link" aria-hidden="true"></i>
                          </ion-avatar>
                          <ion-label>{{appHelper.numberFormatter(estrategias[est]["Crecimiento económico inclusivo"]['objetivos'].length)}} Objetivos</ion-label>
                        </ion-col>
                        <ion-col class="item-resumen" col-12>
                          <ion-avatar class="c3" item-start>
                              <i class="fa fa-users"></i>
                          </ion-avatar>
                          <ion-label>{{appHelper.numberFormatter(estrategias[est]["Crecimiento económico inclusivo"]['personas'])}} Personas
                            <a (click)="openModal(estrategias[est]['Crecimiento económico inclusivo']['beneficiarios'])" style="text-transform: lowercase;"><i class="fa fa-eye pndeye" aria-hidden="true"></i> Ver mas</a></ion-label>
                        </ion-col>
                        <ion-col class="item-resumen" col-12>
                          <ion-avatar class="c3" item-start>
                            <i class="fa fa-money" aria-hidden="true"></i>
                          </ion-avatar>
                          <ion-label>{{appHelper.numberFormatter(estrategias[est]["Crecimiento económico inclusivo"]['monto'])}} gs.</ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                  <ion-col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4>
                    <ion-grid>
                      <ion-row class=resumen>
                        <ion-col class="item-resumen" col-12 >
                          <ion-avatar class="c4" item-start>
                              <i class="fa fa-bank"></i>
                          </ion-avatar>
                          <ion-label>{{appHelper.numberFormatter(estrategias[est]["Inserción de Paraguay en el mundo"]['entidades'].length)}} Entidades</ion-label>
                        </ion-col>
                        <ion-col class="item-resumen" col-12>
                          <ion-avatar class="c4" item-start>
                            <i class="fa fa-link" aria-hidden="true"></i>
                          </ion-avatar>
                          <ion-label>{{appHelper.numberFormatter(estrategias[est]["Inserción de Paraguay en el mundo"]['objetivos'].length)}} Objetivos</ion-label>
                        </ion-col>
                        <ion-col class="item-resumen" col-12>
                          <ion-avatar class="c4" item-start>
                              <i class="fa fa-users"></i>
                          </ion-avatar>
                          <ion-label>{{appHelper.numberFormatter(estrategias[est]["Inserción de Paraguay en el mundo"]['personas'])}} Personas
                            <a (click)="openModal(estrategias[est]['Inserción de Paraguay en el mundo']['beneficiarios'])" style="text-transform: lowercase;"><i class="fa fa-eye pndeye" aria-hidden="true"></i> Ver mas</a></ion-label>
                        </ion-col>
                        <ion-col class="item-resumen" col-12>
                          <ion-avatar class="c4" item-start>
                            <i class="fa fa-money" aria-hidden="true"></i>
                          </ion-avatar>
                          <ion-label>{{appHelper.numberFormatter(estrategias[est]["Inserción de Paraguay en el mundo"]['monto'])}} gs.</ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>

              </ion-grid>
            </ion-col>
          </ion-row>
              </ion-grid>
            </ion-col>


      <ion-col   [ngClass]="(!openbar ? 'central-col' : 'normal-col')" col-sm-12 col-md-12 offset-lg-2 offset-xl-2 col-lg-10 col-xl-10>
        <ion-grid class="common-grid">
          <ion-row>
            <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center>
              <div class="starts">
                <ppy-rating [rating]="{page: 'show-pnd', entity_id: 1, entity_type: 'PND', score: calificacion, meta: '{}'}" [options]="['General', 'Ejes', 'Estrategias']"></ppy-rating>
              </div>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 text-center>
              <ppy-comment [comment]="{page: 'show-pnd', entity_id: 1, entity_type: 'PND', text: '', meta: null}"></ppy-comment>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col [ngClass]="(!openbar ? 'central-col footer_col footer_content' : 'normal-col footer_content')" col-sm-12 col-md-12 offset-lg-2 offset-xl-2 col-lg-10 col-xl-10>
        <ppy-footer></ppy-footer>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
