<div class="comment-form">
<ion-list>
  <ion-item>
    <ion-avatar item-start>
      <i class="fa fa-comments-o" aria-hidden="true"></i>
    </ion-avatar>
    <ion-textarea [(ngModel)]="comment.text" placeholder="Danos tu opinión"></ion-textarea>
  </ion-item>
</ion-list>
<button ion-button id="send-comment" (click)="pushComment()"><ion-icon class="send" md="ios-send" ></ion-icon>Enviar</button>
</div>
<ion-list class="comment-list">
  <ion-item>
    <ion-avatar item-start>
        <ion-icon name="person"></ion-icon>
    </ion-avatar>
    <div class="item-list">
      <h2>User</h2>
      <p>comentario</p>
      <ion-note item-end edge right>3:43 pm</ion-note>

    </div>
  </ion-item>

</ion-list>
