<div class="comment-form">

  <form #form="ngForm" (ngSubmit)="logForm(form)" novalidate>
  <ion-item>
    <ion-avatar item-start>
      <i class="fa fa-comments-o" aria-hidden="true"></i>
    </ion-avatar>

    <ion-textarea type="text" required [(ngModel)]="comment.text" ngControl="text" name="text" placeholder="Danos tu opinión"></ion-textarea>
  </ion-item>
<button ion-button id="send-comment" (click)="pushComment()"><ion-icon class="send" md="ios-send" ></ion-icon>Enviar</button>
</form>
</div>

<ion-list class="comment-list">
  <ion-item *ngFor="let comment of comments">
    <ion-avatar item-start>
        <ion-icon name="person"></ion-icon>
    </ion-avatar>
    <div class="item-list">
      <h2>User</h2>
      <p>{{comment.text}}</p>
      <ion-note item-end edge right>{{comment.commented_at}}</ion-note>

    </div>
  </ion-item>

</ion-list>
