<!--
Generated template for the ShowNivelPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
  <ion-title class="app-title" col-12 >proyectandoPy</ion-title>
  <ion-navbar id="subnavbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="app-subtitle">{{item.nombre}}</ion-title>
  </ion-navbar>


</ion-header>
<ion-content >
  <ion-fab *ngIf="!openbar" left bottom edge style="bottom: 10px;"  id="opensidebar" (click)="opensidebar()">
      <button ion-fab  menuToggle color=secondary> <!-- basic usage -->
      <i class="fa fa-filter" aria-hidden="true"></i></button>
    </ion-fab>

  <ion-grid class="principal-grid">
    <ion-row>

      <ion-col *ngIf="openbar" class="filter-sidebar"  id="filter-sidebar" col-sm-8 col-8 col-md-8  col-lg-2 col-xl-2>
        <div *ngIf="openbar"  left top style="bottom: 10px;" class="closesidebar" >
            <button  menuToggle color=secondary (click)="closesidebar()"> <!-- basic usage -->
            <i class="fa fa-times" aria-hidden="true"></i></button>
          </div>
        <button  ion-button item-end right  outline [ngClass]="(tabactive=='info' ? 'sidebarbutton active' : 'sidebarbutton')"  (click)="changetab('info')">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Información
        </button>
        <button  ion-button item-end outline [ngClass]="(tabactive=='chart' ? 'sidebarbutton active' : 'sidebarbutton')" (click)="changetab('chart')">
          <i class="fa fa-pie-chart" aria-hidden="true"></i> Estadisticas
        </button>
        <button  ion-button item-end outline [ngClass]="(tabactive=='la' ? 'sidebarbutton active' : 'sidebarbutton')" (click)="changetab('la')">
          <i class="fa fa-line-chart" aria-hidden="true"></i> Lineas de Acción
        </button>
        <button  ion-button item-end outline [ngClass]="(tabactive=='resumen' ? 'sidebarbutton active' : 'sidebarbutton')" (click)="changetab('resumen')">
          <i class="fa fa-sitemap" aria-hidden="true"></i> Resumen
        </button>
        <button  ion-button item-end outline [ngClass]="(tabactive=='map' ? 'sidebarbutton active' : 'sidebarbutton')" (click)="changetab('map')" style="border-bottom: 1px solid #00b5b5;">
          <i class="fa fa-map" aria-hidden="true"></i> Mapa
        </button>

      </ion-col>
      <ion-col [ngClass]="(!openbar ? 'central-col' : 'normal-col')" col-sm-12 col-md-12 offset-lg-2 offset-xl-2 col-lg-10 col-xl-10>

    <div class='view-content'>
        <div class="show-info" *ngIf="tabactive=='info'">
            <ion-label class="title-page item-grouper">Información
              <button ion-button clear (click)="openLink('http://www.stp.gov.py/v1/instrumentos-spr/')"><ion-icon ios="md-information-circle" md="md-information-circle"></ion-icon></button>
            </ion-label>
            <ion-grid>
              <ion-row>
                <ion-col col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8>
                  <ion-list class="acordeon_list">
                    <ion-item class="item-stable" (click)="toggleGroup($event.currentTarget, 'show-desc', 'descripcion' ,'hide-desc')" class= "">
                      <ion-grid>
                        <ion-row>
                          <ion-col col-1>
                            <ion-icon id='show-desc' ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
                            <ion-icon id='hide-desc' ios="ios-arrow-up" md="ios-arrow-up" style="display: none;"></ion-icon>
                          </ion-col>
                          <ion-col col-11>Descripción</ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-item>
                    <ion-item class="item-accordion" id="descripcion" style="display: none;">
                      {{item.descripcion ? item.descripcion : 'Información no disponible.'}}
                    </ion-item>
                    <ion-item class="item-stable" (click)="toggleGroup($event.currentTarget, 'show-mis', 'mision','hide-mis')" class= "">
                      <ion-grid>
                        <ion-row>
                          <ion-col col-1>
                            <ion-icon id='show-mis' ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
                            <ion-icon id='hide-mis' ios="ios-arrow-up" md="ios-arrow-up" style="display: none;"></ion-icon>
                          </ion-col>
                          <ion-col col-11>Misión</ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-item>
                    <ion-item class="item-accordion" id="mision" style="display: none;">
                      {{item.mision ? item.mision : 'Información no disponible.'}}
                    </ion-item>
                    <ion-item class="item-stable" (click)="toggleGroup($event.currentTarget, 'show-diag', 'diagnostico', 'hide-diag')" class= "">
                      <ion-grid>
                        <ion-row>
                          <ion-col col-1>
                            <ion-icon id='show-diag' ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
                            <ion-icon id='hide-diag' ios="ios-arrow-up" md="ios-arrow-up" style="display: none;"></ion-icon>
                          </ion-col>
                          <ion-col col-11>Diagnóstico</ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-item>
                    <ion-item class="item-accordion" id="diagnostico"  style="display: none;">
                      {{item.diagnostico ? item.diagnostico : 'Información no disponible.'}}
                    </ion-item>
                    <ion-item class="item-stable" (click)="toggleGroup($event.currentTarget, 'show-bl', 'baselegal', 'hide-bl')" class= "">
                      <ion-grid>
                        <ion-row>
                          <ion-col col-1>
                            <ion-icon id='show-bl' ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
                            <ion-icon id='hide-bl' ios="ios-arrow-up" md="ios-arrow-up" style="display: none;"></ion-icon>
                          </ion-col>
                          <ion-col col-11>Base Legal</ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-item>
                    <ion-item class="item-accordion" id="baselegal" style="display: none;">
                      {{item.baselegal ? item.baselegal : 'Información no disponible.'}}
                    </ion-item>
                    <ion-item class="item-stable" (click)="toggleGroup($event.currentTarget, 'show-obj', 'objetivo', 'hide-obj')" class= "">
                      <ion-grid>
                        <ion-row>
                          <ion-col col-1>
                            <ion-icon id='show-obj' ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
                            <ion-icon id='hide-obj' ios="ios-arrow-up" md="ios-arrow-up" style="display: none;"></ion-icon>
                          </ion-col>
                          <ion-col col-11>Objetivos</ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-item>
                    <ion-item class="item-accordion" id="objetivo"  style="display: none;">
                      {{item.objetivo ? item.objetivo : 'Información no disponible.'}}
                    </ion-item>
                    <ion-item class="item-stable" (click)="toggleGroup($event.currentTarget, 'show-pol', 'politica', 'hide-pol')" class= "">
                      <ion-grid>
                        <ion-row>
                          <ion-col col-1>
                            <ion-icon id='show-pol' ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
                            <ion-icon id='hide-pol' ios="ios-arrow-up" md="ios-arrow-up" style="display: none;"></ion-icon>
                          </ion-col>
                          <ion-col col-11>Política</ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-item>
                    <ion-item class="item-accordion" id="politica"  style="display: none;">
                      {{item.politica ? item.politica : 'Información no disponible.'}}
                    </ion-item>
                    <ion-item class="item-stable" (click)="toggleGroup($event.currentTarget, 'show-ruc', 'ruc', 'hide-ruc')" class= "">
                      <ion-grid>
                        <ion-row>
                          <ion-col col-1>
                            <ion-icon id='show-ruc' ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
                            <ion-icon id='hide-ruc' ios="ios-arrow-up" md="ios-arrow-up" style="display: none;"></ion-icon>
                          </ion-col>
                          <ion-col col-11>R.U.C.</ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-item>
                    <ion-item class="item-accordion" id="ruc"  style="display: none;">
                      {{item.ruc ? item.ruc : 'Información no disponible.'}}
                    </ion-item>
                  </ion-list>
                </ion-col>
                <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center>
                  <div class="starts">
                    <ppy-rating [rating]="{page: 'show-institucion', entity_id: item.id, entity_type: 'Institucion', score: calificacion, meta: '{}'}" [options]="['Todos', 'Descripción', 'Misión', 'Diagnóstico', 'Base Legal', 'Objetivos', 'Política', 'R.U.C']"></ppy-rating>
                  </div>
                  <ppy-comment [comment]="{page: 'show-institucion', entity_id: item.id, entity_type: 'Institucion', text: '', meta: null}"></ppy-comment>
                </ion-col>
              </ion-row>
            </ion-grid>
        </div>
      <div *ngIf="tabactive=='la'" class="common-list" style="margin-bottom: 0;">
        <ion-list>
          <div>
            <ion-item class="item-grouper">Lineas de Acción</ion-item>
          <button ion-item class="success" *ngFor="let lineaAccion of lineasAccion" (click)="lineaAccionTapped($event, lineaAccion)">
            <ion-item>
              <ion-avatar item-start>
                  <i class="fa fa-line-chart" aria-hidden="true"></i>
              </ion-avatar>
              <div class="item-list">
                <h2 style="text-transform: capitalize">{{lineaAccion.nombre}}</h2>
                <h5>
                  <ion-badge class="label_c1">{{lineaAccion.cantidadAvance}}/{{lineaAccion.cantidadProgramada}} {{lineaAccion.unidadMedida}}</ion-badge>
                  <ion-badge class="label_c2"><i class="fa fa-money" aria-hidden="true"></i>{{lineaAccion.cantidadFinanciera}}</ion-badge>
                </h5>
              </div>
              <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" class="right"></ion-icon>
            </ion-item>
          </button>
          <button class="empty-list" ion-item *ngIf="lineasAccion.length == 0">
            <h2>No hay Lineas de Acción</h2>
          </button>

        </div>
        </ion-list>
      </div>
      <div *ngIf="tabactive=='chart'">
        <ion-label class="title-page item-grouper">Estadísticas</ion-label>
        <ppy-canva [presupuestos]="chartsData"></ppy-canva>
      </div>
      <div *ngIf="tabactive=='resumen'" class="show-info">
        <ion-label class="title-page item-grouper">Resumen</ion-label>
        <ppy-resumen></ppy-resumen>
      </div>

      <ion-grid *ngIf="tabactive=='map'">

            <ion-row>
              <ion-col>
                <div id="share-buttons">

                    <!-- Facebook -->
                    <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
                        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
                    </a>
                    <!-- Twitter -->
                    <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
                        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
                    </a>




                </div>
                <button ion-button color="positive" block (click)="regularShare()">
                  Share me!
                </button>
                </ion-col>
              <ion-col>
                <button ion-button icon-only (click)="twitterShare()" color="dark" clear>
                  <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-only (click)="whatsappShare()" color="dark" clear>
                  <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-only (click)="instagramShare()" color="dark" clear>
                  <ion-icon class="share-icon" name="logo-instagram"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>

    </div>


  </ion-col>
  </ion-row>

  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>@Hackathon2017 - Senatics - STP</ion-title>
  </ion-toolbar>
</ion-footer>
<style>

.node rect {
  fill: #ddd;
}

.node text {
  font: 10px sans-serif;
}

.node tspan:last-child {
  font-size: 9px;
  fill-opacity: 0.8;
}

.node--internal text {
  font-weight: bold;
}

.node--leaf rect {
  fill-opacity: 0.6;
}

</style>
