<!--
Generated template for the ShowNivelPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
  <ion-title class="app-title" col-12 >proyectandoPy</ion-title>
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="app-subtitle">{{item.nombre}}</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
  <ion-segment [(ngModel)]="tabs" class="tab-show">
    <ion-segment-button value="info">
      <ion-icon name="md-information-circle"></ion-icon>
      <ion-label>Información</ion-label>
    </ion-segment-button>
    <ion-segment-button value="chart">
      <ion-icon name="pie"></ion-icon>
      <ion-label>Estadísticas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="la">
      <ion-icon name="trending-up"></ion-icon>
      <ion-label>Lineas de Acción</ion-label>
    </ion-segment-button>
    <ion-segment-button value="prog">
      <ion-icon md="ios-photos"></ion-icon>
      <ion-label>Programas</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
</ion-header>
<ion-content padding>
  <div [ngSwitch]="tabs">
      <div class="show-info" *ngSwitchCase="'info'">
          <ion-label class="title-page bac-c1">Información</ion-label>
          <button ion-button color="text" class="right" clear (click)="openLink('http://www.stp.gov.py/v1/instrumentos-spr/')"><ion-icon ios="md-information-circle" md="md-information-circle"></ion-icon></button>

          <ion-grid>
            <ion-row>
              <ion-col col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8>
                <ion-list class="acordeon_list">
                  <ion-item class="item-stable" (click)="toggleGroup($event.currentTarget, 'show-desc', 'descripcion' ,'hide-desc')" class= "">
                    <ion-grid>
                      <ion-row>
                        <ion-col col-1>
                          <ion-icon id='show-desc' ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
                          <ion-icon id='hide-desc' ios="ios-arrow-up" md="ios-arrow-up" style="display: none;"></ion-icon>
                        </ion-col>
                        <ion-col col-11>Descripcion</ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                  <ion-item class="item-accordion" id="descripcion" style="display: none;">
                    {{item.descripcion ? item.descripcion : 'Información no disponible.'}}
                  </ion-item>
                  <ion-item class="item-stable" (click)="toggleGroup($event.currentTarget, 'show-mis', 'mision','hide-mis')" class= "">
                    <ion-grid>
                      <ion-row>
                        <ion-col col-1>
                          <ion-icon id='show-mis' ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
                          <ion-icon id='hide-mis' ios="ios-arrow-up" md="ios-arrow-up" style="display: none;"></ion-icon>
                        </ion-col>
                        <ion-col col-11>Misión</ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                  <ion-item class="item-accordion" id="mision" style="display: none;">
                    {{item.mision ? item.mision : 'Información no disponible.'}}
                  </ion-item>
                  <ion-item class="item-stable" (click)="toggleGroup($event.currentTarget, 'show-diag', 'diagnostico', 'hide-diag')" class= "">
                    <ion-grid>
                      <ion-row>
                        <ion-col col-1>
                          <ion-icon id='show-diag' ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
                          <ion-icon id='hide-diag' ios="ios-arrow-up" md="ios-arrow-up" style="display: none;"></ion-icon>
                        </ion-col>
                        <ion-col col-11>Diagnostico</ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                  <ion-item class="item-accordion" id="diagnostico"  style="display: none;">
                    {{item.diagnostico ? item.diagnostico : 'Información no disponible.'}}
                  </ion-item>
                  <ion-item class="item-stable" (click)="toggleGroup($event.currentTarget, 'show-bl', 'baselegal', 'hide-bl')" class= "">
                    <ion-grid>
                      <ion-row>
                        <ion-col col-1>
                          <ion-icon id='show-bl' ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
                          <ion-icon id='hide-bl' ios="ios-arrow-up" md="ios-arrow-up" style="display: none;"></ion-icon>
                        </ion-col>
                        <ion-col col-11>Base Legal</ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                  <ion-item class="item-accordion" id="baselegal" style="display: none;">
                    {{item.baselegal ? item.baselegal : 'Información no disponible.'}}
                  </ion-item>
                  <ion-item class="item-stable" (click)="toggleGroup($event.currentTarget, 'show-obj', 'objetivo', 'hide-obj')" class= "">
                    <ion-grid>
                      <ion-row>
                        <ion-col col-1>
                          <ion-icon id='show-obj' ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
                          <ion-icon id='hide-obj' ios="ios-arrow-up" md="ios-arrow-up" style="display: none;"></ion-icon>
                        </ion-col>
                        <ion-col col-11>Objetivos</ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                  <ion-item class="item-accordion" id="objetivo"  style="display: none;">
                    {{item.objetivo ? item.objetivo : 'Información no disponible.'}}
                  </ion-item>
                  <ion-item class="item-stable" (click)="toggleGroup($event.currentTarget, 'show-pol', 'politica', 'hide-pol')" class= "">
                    <ion-grid>
                      <ion-row>
                        <ion-col col-1>
                          <ion-icon id='show-pol' ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
                          <ion-icon id='hide-pol' ios="ios-arrow-up" md="ios-arrow-up" style="display: none;"></ion-icon>
                        </ion-col>
                        <ion-col col-11>Política</ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                  <ion-item class="item-accordion" id="politica"  style="display: none;">
                    {{item.politica ? item.politica : 'Información no disponible.'}}
                  </ion-item>
                  <ion-item class="item-stable" (click)="toggleGroup($event.currentTarget, 'show-ruc', 'ruc', 'hide-ruc')" class= "">
                    <ion-grid>
                      <ion-row>
                        <ion-col col-1>
                          <ion-icon id='show-ruc' ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
                          <ion-icon id='hide-ruc' ios="ios-arrow-up" md="ios-arrow-up" style="display: none;"></ion-icon>
                        </ion-col>
                        <ion-col col-11>R.U.C.</ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                  <ion-item class="item-accordion" id="ruc"  style="display: none;">
                    {{item.ruc ? item.ruc : 'Información no disponible.'}}
                  </ion-item>
                </ion-list>
              </ion-col>
              <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center>
                <div class="starts">
                  <ppy-rating [rating]="{page: 'show-institucion', entity_id: item.id, entity_type: 'Institucion', score: 0, meta: null}"></ppy-rating>
                </div>
                <ion-list>
                  <ion-item>
                    <ion-avatar item-start>
                      <ion-icon name="person"></ion-icon>
                    </ion-avatar>
                    <ion-textarea placeholder="Danos tu opinión"></ion-textarea>

                  </ion-item>
                </ion-list>
                <button ion-button id="send-comment"><ion-icon class="send" md="ios-send"></ion-icon>Enviar</button>
              </ion-col>
            </ion-row>
          </ion-grid>
      </div>
      <div *ngSwitchCase="'la'" class="common-list" style="margin-bottom: 0;">
        <ion-label class="title-page bac-c5">Lineas de acción</ion-label>
        <ion-list>
          <button ion-item *ngFor="let lineaAccion of lineasAccion" (click)="lineaAccionTapped($event, lineaAccion)">
            <ion-item>
              <ion-icon name="checkmark-circle" class="success list-icon"></ion-icon>
              <div class="h5-color3">{{lineaAccion.nombre}}</div>
              <div>Meta: {{lineaAccion.meta}} {{lineaAccion.unidadMedida}}</div>
            </ion-item>
          </button>
        </ion-list>
      </div>
      <div *ngSwitchCase="'chart'">
        <ion-label class="title-page bac-c2">Estadísticas</ion-label>
        <ion-grid >
          <ion-row>
          <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 *ngFor="let presupuesto of presupuestos">

              <ppy-canva [presupuesto]="chartsData[presupuesto]"></ppy-canva>

          </ion-col>
        </ion-row>
        </ion-grid>
      </div>

      <ion-grid *ngSwitchCase="'prog'">

      </ion-grid>
    </div>




</ion-content>
