<!--
Generated template for the ShowNivelPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
  <ion-title class="app-title" col-12 >proyectandoPy</ion-title>
  <ion-navbar id="subnavbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="app-subtitle">{{item.entidadnombre}}</ion-title>
  </ion-navbar>


</ion-header>
<ion-content >
  <ion-fab *ngIf="!openbar" right bottom edge style="bottom: 10px;"  id="opensidebar" (click)="opensidebar()">
      <button ion-fab  menuToggle color=secondary> <!-- basic usage -->
      <i class="fa fa-filter" aria-hidden="true"></i></button>
    </ion-fab>

  <ion-grid class="principal-grid">
    <ion-row>

      <ion-col *ngIf="openbar" class="filter-sidebar"  id="filter-sidebar" col-sm-8 col-8 col-md-8  col-lg-2 col-xl-2>
        <div *ngIf="openbar"  left top style="bottom: 10px;" class="closesidebar" >
            <button  menuToggle color=secondary (click)="closesidebar()"> <!-- basic usage -->
            <i class="fa fa-times" aria-hidden="true"></i></button>
          </div>

        <button  ion-button item-end right  outline class ='sidebarbutton sidebarinfo' style="margin-top:8px;"  (click)="changetab('general')">

          Información
        </button>
        <ion-list class="selec-header">
        <ion-item>
         <ion-label>Entidad: <p>{{item.entidadnombre}}</p></ion-label>

        </ion-item>
        <ion-item>
         <ion-label>Nivel: <p>{{item.nivelnombre}}</p></ion-label>

        </ion-item>
      </ion-list>
      <ion-label class="metrica-label">{{count_view}} visita/s - {{count_download}} descarga/s</ion-label>
      <div>
      <ion-slides pager class="helpslide">

         <ion-slide >
           <p>Necesitas Ayuda?</p>
           <ion-toolbar class="tutorial-buttons">
             <ion-icon right class="right" name="ios-arrow-forward" color="default"  (click)="goToSlide()"></ion-icon>
           </ion-toolbar>
         </ion-slide>

         <ion-slide >
           <p>Aquí puedes ver una gráfica de los beneficiarios de la entidad seleccionada</p>
           <ion-toolbar class="tutorial-buttons">
             <ion-icon right class="right" name="ios-arrow-forward" color="default"  (click)="goToSlide()"></ion-icon>
             <ion-icon left class="left" name="ios-arrow-back" color="default"  (click)="gobackSlide()"></ion-icon>
           </ion-toolbar>
         </ion-slide>
         <ion-slide >
           <p>Esta gráfica muestra el porcentaje de beneficiarios por cada programa</p>
           <ion-toolbar class="tutorial-buttons">
             <ion-icon right class="right" name="ios-arrow-forward" color="default"  (click)="goToSlide()"></ion-icon>
             <ion-icon left class="left" name="ios-arrow-back" color="default"  (click)="gobackSlide()"></ion-icon>
           </ion-toolbar>
         </ion-slide>
         <ion-slide >
           <p>Un programa establece los objetivos resultados y metas que deben cumplirse mediante un conjunto de acciones</p>
           <ion-toolbar class="tutorial-buttons">
             <ion-icon right class="right" name="ios-arrow-forward" color="default"  (click)="goToSlide()"></ion-icon>
             <ion-icon left class="left" name="ios-arrow-back" color="default"  (click)="gobackSlide()"></ion-icon>
           </ion-toolbar>
         </ion-slide>

         <ion-slide >
           <p>Estos programas están agrupados según su tipo, y a través del selector que está sobre la gráfica puedes cambiar el tipo de programa</p>
           <ion-toolbar class="tutorial-buttons">
             <ion-icon right class="right" name="ios-arrow-forward" color="default"  (click)="goToSlide()"></ion-icon>
             <ion-icon left class="left" name="ios-arrow-back" color="default"  (click)="gobackSlide()"></ion-icon>
           </ion-toolbar>
         </ion-slide>
         <ion-slide >
           <p>Al seleccionar una porción del gráfico puedes ver más información acerca del programa seleccionado</p>
           <ion-toolbar class="tutorial-buttons">
             <ion-icon right class="right" name="ios-arrow-forward" color="default"  (click)="goToSlide()"></ion-icon>
             <ion-icon left class="left" name="ios-arrow-back" color="default"  (click)="gobackSlide()"></ion-icon>
           </ion-toolbar>
         </ion-slide>
         <ion-slide >
           <p>También puedes comentar y calificar esta información.</p>
           <ion-toolbar class="tutorial-buttons">
             <ion-icon right class="right" name="ios-arrow-forward" color="default"  (click)="goToSlide()"></ion-icon>
             <ion-icon left class="left" name="ios-arrow-back" color="default"  (click)="gobackSlide()"></ion-icon>
           </ion-toolbar>
         </ion-slide>
         <ion-slide >
           <p>Esperamos haberte ayudado!</p>
           <ion-toolbar class="tutorial-buttons">
             <ion-icon left class="left" name="ios-arrow-back" color="default"  (click)="gobackSlide()"></ion-icon>
           </ion-toolbar>
         </ion-slide>

       </ion-slides>
     </div>
      </ion-col>
      <ion-col [ngClass]="(!openbar ? 'central-col' : 'normal-col')" col-sm-12 col-md-12 offset-lg-2 offset-xl-2 col-lg-10 col-xl-10>

    <div class='view-content'>

      <ppy-canva [presupuestos]="presupuestos" [item]="item" *ngIf="presupuestos"></ppy-canva>
      <div *ngIf="!presupuestos">
        <ion-label class="title-page item-grouper">Estadísticas

        </ion-label>
        <h2 class="sin-data">No hay Datos para mostrar</h2>
    </div>
  </div>


  </ion-col>
  <ion-col   [ngClass]="(!openbar ? 'central-col' : 'normal-col')" col-sm-12 col-md-12 offset-lg-2 offset-xl-2 col-lg-10 col-xl-10>
    <ion-grid class="common-grid">
      <ion-row>
        <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center>
          <div class="starts">
            <ppy-rating [rating]="{page: 'show-estadistica', entity_id: id, entity_type: 'Estadistica', score: calificacion, meta: '{}'}" [options]="[]"></ppy-rating>
          </div>
        </ion-col>
        <ion-col col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 text-center>
          <ppy-comment [comment]="{page: 'show-estadistica', entity_id: id, entity_type: 'Estadistica', text: '', meta: null}"></ppy-comment>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-col>
  <ion-col [ngClass]="(!openbar ? 'central-col footer_col footer_content' : 'normal-col footer_content')" col-sm-12 col-md-12 offset-lg-2 offset-xl-2 col-lg-10 col-xl-10>
    <ppy-footer></ppy-footer>
  </ion-col>
  </ion-row>

  </ion-grid>

</ion-content>


<style>

.node rect {
  fill: #ddd;
}

.node text {
  font: 10px sans-serif;
}

.node tspan:last-child {
  font-size: 9px;
  fill-opacity: 0.8;
}

.node--internal text {
  font-weight: bold;
}

.node--leaf rect {
  fill-opacity: 0.6;
}

</style>
